body {
    background-color: #111;
}

mark {
    color: #bbb;
}

button {
    background: #333;
    color: #aaa;
}

button:hover {
    background: #555;
    color: #fff;
}

.top a {
    color: #999;
}

.header {
    color: #fff;
    background-image: linear-gradient(180deg, #555, #888, #ccc);
}

.main {
    color: #999;
}

.main a, .main.h1, .main h2, .main h3, .top a:hover, .top a.this {
    color: #48d;
}

.main a:hover {
    color: #666;
}

.note {
    color: #888;
}

.code {
    background-color: #333;
    border-color: #555;
}

.code pre {
    color: #ddd;
}