@font-face {
    font-family: elite;
    src: url(assets/font/elite.ttf)
}

@font-face {
    font-family: nunito;
    src: url(assets/font/nunito.ttf)
}

:root {
    --radius: 0.3em;
    --padding: 0.4em;
    --small: 16px
}

body[theme = "light"] {
    --background: #ddd;
    --text: #566;
    --mark: #344;
    --link: #47b;
    --main: #777;
    --button: #ccc;
    --blank: #bbb;
    --block: #fff;
    --comment: #999;
    --code: #555;
    --string: #370;
    --keyword: #83b;
    --built_in: #088;
    --number: #960;
    --attr: #960;
    --literal: #960;
    --tag: #555;
    --function: #555;
    --attribute: #555;
    --variable: #d55;
    --name: #d55;
    --selector-tag: #d55;
    --title: #06c;
    --selector-id: #06c;
    --meta: #06c;
    --params: #d55;
    --property: #d55;
    --regexp: #d55;
}

body[theme = "dark"] {
    --background: #333;
    --text: #aaa;
    --mark: #ccc;
    --link: #5af;
    --main: #aaa;
    --button: #555;
    --blank: #666;
    --block: #222;
    --comment: #888;
    --code: #bbb;
    --string: #8c5;
    --keyword: #c7f;
    --built_in: #2cc;
    --number: #d92;
    --attr: #d92;
    --literal: #d92;
    --tag: #bbb;
    --function: #bbb;
    --attribute: #bbb;
    --variable: #f66;
    --name: #f66;
    --selector-tag: #f66;
    --title: #6af;
    --selector-id: #6af;
    --meta: #6af;
    --params: #f66;
    --property: #f66;
    --regexp: #f66;
}

body {
    margin: 0;
    font-size: var(--font);
    background-color: var(--background);
    font-family: nunito;
    color: var(--text)
}

mark {
    color: var(--mark);
    background: none
}

h2 {margin-top: 0}
a:hover {color: var(--comment)}

pre {
    padding: 1em;
    border-radius: var(--radius);
    background-color: var(--block);
    margin: 1em 0;
    font-size: var(--small);
    font-family: monospace;
    color: var(--code);
    display: block
}

footer {
    width: 100%;
    padding: var(--padding);
    font-size: var(--small);
    background-color: var(--background)
}

footer span {color: var(--text)}
.snippet {color: var(--comment)}
.code {color: var(--code)}
.main {overflow: auto}

.hljs-string {color: var(--string)}
.hljs-keyword {color: var(--keyword)}
.hljs-built_in {color: var(--built_in)}
.hljs-comment {color: var(--comment)}
.hljs-number {color: var(--number)}
.hljs-attr {color: var(--attr)}
.hljs-literal {color: var(--literal)}
.hljs-tag {color: var(--tag)}
.hljs-function {color: var(--function)}
.hljs-attribute {color: var(--attribute)}
.hljs-variable {color: var(--variable)}
.hljs-name {color: var(--name)}
.hljs-selector-tag {color: var(--selector-tag)}
.hljs-title {color: var(--title)}
.hljs-selector-id {color: var(--selector-id)}
.hljs-meta {color: var(--meta)}
.hljs-params {color: var(--params)}
.hljs-property {color: var(--property)}
.hljs-regexp {color: var(--regexp)}

div.editor {
    position: relative;
    height: 20em;
    margin-top: 1em
}

div.editor pre, div.editor textarea {
    position: absolute;
    padding: 1em 0 1em 1em;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

div.editor pre {
    overflow: auto;
    scrollbar-color: transparent transparent
}

div.editor textarea {
    color: transparent;
    white-space: pre;
    background-color: transparent;
    caret-color: var(--mark);
    border-radius: var(--radius);
    font-size: var(--small);
    resize: none;
    border: none
}

div.editor textarea:focus {outline: 0}

a {
    color: var(--link);
    text-decoration: none
}

iframe {
    width: 100%;
    height: 25em;
    border-radius: var(--radius);
    border: none;
    background-color: #fff
}

.buttons a {
    border-radius: var(--radius);
    background-color: var(--button);
    padding: var(--padding);
    font-weight: bold;
    color: var(--mark)
}

.buttons a:hover {background-color: var(--blank)}
.buttons .right {margin-left: auto}
.buttons .left {margin-right: var(--padding)}

.buttons {display: flex}
.buttons i {padding: 0 var(--padding)}

.top {
    overflow: hidden;
    font-weight: bold
}

.top a:first-child {
    font-family: elite;
    font-size: 40px;
    padding-right: 0.2em;
    color: var(--main)
}

.top a:not(:first-child), .top i {
    cursor: pointer;
    color: var(--comment)
}

.top i {
    float: right;
    padding-bottom: 1em
}

.top a:not(:first-child) {
    font-family: nunito;
    padding-left: 1em
}

.top i.fa-bars {display: none}
.top a {text-decoration: none}
.top a.this, .top a:not(:first-child):hover, .top i:hover {color: var(--link)}

.image {
    padding-bottom: 2em;
    float: left
}

.image img, .image video {
    opacity: 1;
    border-radius: var(--radius);
    margin: 0 2em 2em 0;
    float: left
}

.image div {
    float: left;
    color: var(--text)
}

.image img:hover, .image video:hover {opacity: 0.5}
.image h2 {color: var(--link)}

@media screen and (min-width: 64em) {
    .top {
        max-width: 64em;
        padding: 2em 6em;
        margin: 0 auto
    }

    .main {
        max-width: 64em;
        padding: 1em 6em;
        margin: 0 auto
    }

    .image img, .image video {width: 50%}
    .image div {width: 40%}
    :root {--font: 20px}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .top {padding: 2em 4em}
    .main {padding: 1em 4em}
    .image img, .image video {width: 60%}
    .image div {width: 60%}
    :root {--font: 18px}
}

@media screen and (max-width: 42em) {
    .top {padding: 2em 1em}
    .main {padding: 1em 1em 2em 1em}
    .image img, .image video, .image div {width: 100%}
    :root {--font: 16px}

    .top a:not(:first-child), .top i.theme {display: none}
    .top i.fa-bars {display: block}

    .top.active a:not(:first-child) {
        padding-top: var(--padding);
        display: block
    }
}

* {
    transition-duration: 0.2s;
    box-sizing: border-box
}